@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@media screen and (max-width: 400px) {
    body {
      font-family: 'Poppins', sans-serif; 
      background: #e5e5e5;
      overflow: hidden;
    }

    .container {
        position: relative;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        justify-content: center;
        background: #3685ff;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        width: 321px;
        height: 485px;
        transform: translateX(-50px);
    }
    .qr-code-container {
      padding: 30px;
      border-radius: 20px;
      background: #3685ff;
      text-align: center;
      justify-content: center;
      width: 270px;
      height: 230px;
      transform: translate(10px, -10px);
    }

    .attribution a { color: hsl(228, 45%, 44%); }
    .attribution {
        font-size: 11px;
        text-align: center;
        transform: translateX(4px);
    }
    
}

body {
  font-family: 'Poppins', sans-serif; 
  background: #e5e5e5;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.container {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  justify-content: center;
  background: #fff;
  margin: 6rem 470px;
  margin-bottom: 70px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 330px !important;
  height: 485px;
}

.qr-code-container {
  padding: 30px;
  border-radius: 20px;
  background: #3685ff;
  text-align: center;
  justify-content: center;
  width: 270px;
  height: 230px;
  transform: translate(5px, -10px);
}

img {
  width: 160px;
  height: 150px;
  border-radius: 15px;
  transform: scale(2);
}

h5 {
    font-weight: bolder;
}

p {
    font-weight: lighter;
    font-size: 14px;
}
